@{
	Layout = "_Layout2";
}



<div class="GeneralContainer StockContainer" style="display:flex;">


	
	@Html.Partial("_ManagerSideBar")

	<div class="ManagerDiv">

		


	</div>

</div>


@section Scripts{

	<script type="text/javascript">
		
	
		
	
	
	
	</script>

}