
@{
	Layout = null;
}

@using sigmaHashAlpha.Models
@using sigmaHashAlpha.Models.ViewModels
@model SmallCartViewModel

@if(Model !=null )
{

		<div class="nav-color"><i class="bi bi-cart"></i></div><div class="numbofitems">@Model.NumberOfItems</div>




	@*<p>Total: <b>@Model.TotalAmount.ToString("C2")</b></p>*@
@*	<a href="#" class="btn btn-primary mb-2">View Cart</a>
	<a href="#" class="btn btn-danger">Clear Cart</a>*@
}
else{
	<p class=" "><i class="bi bi-cart"></i></p>
}

