@using sigmaHashAlpha.Infrastructure.Roles
@{
	Layout = "_Layout2";
}

@model AdminViewModel

<div class="GeneralContainer StockContainer bg-light" style="display:flex;">


	
	<vc:sidebar />

	<div class="ManagerDiv">

		


	</div>

</div>


@section Scripts{


}