USE [master]
GO
/****** Object:  Database [ReactDemo]    Script Date: 11/23/2022 8:48:48 PM ******/
CREATE DATABASE [ReactDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReactDemo', FILENAME = N'C:\Users\Agust\ReactDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReactDemo_log', FILENAME = N'C:\Users\Agust\ReactDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReactDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReactDemo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/23/2022 8:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReactProducts]    Script Date: 11/23/2022 8:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReactProducts](
	[Id] [nvarchar](20) NOT NULL,
	[Brand] [nvarchar](150) NULL,
	[Model] [nvarchar](max) NULL,
	[Category] [nvarchar](100) NULL,
	[Stock] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[ImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_ReactProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
