@{
	Layout = "_Layout2";
}



<div class="GeneralContainer StockContainer">


	
	<div class="ManagerDiv">
		
		<div class="ManagerMenu">
	
			<ul>

					<li><a asp-controller="Products" asp-action="ListEditor"><i class="bi bi-motherboard"></i> Agregar Productos</a></li>
				

					<li><a asp-controller="Products" asp-action="ListEditor"><i class="bi bi-motherboard"></i> Agregar Productos</a></li>
				

					<li><a asp-controller="Products" asp-action="ProductList"> <i class="bi bi-list-ul"></i>Listado</a></li>
				

					<li><a asp-controller="Stock" asp-action="Index"><i class="bi bi-box-seam"></i>Stock</a></li>
				
	
					<li><a asp-controller="Products" asp-action="ListEditor"><i class="bi bi-bag-check"></i>Ventas</a></li>
				

					<li><a asp-controller="Products" asp-action="ListEditor"><i class="bi bi-bag"></i>Reservas</a></li>
	
	
					<li><a asp-controller="Manager" asp-action="Admin"><i class="bi bi-person"></i>Admins</a></li>
		
				<li><div ><i class="bi bi-bar-chart-line"></i>Statistics </div></li> 

			</ul>

		</div>
		<div>
			
		</div>
		

	</div>


</div>


@section Scripts{

	<script type="text/javascript">
		
	
		
	
	
	
	</script>

}