@{
    ViewData["Title"] = "Home Page";
}
<div class="homecontainer scroller" id="homecontainer">
    <div class="HomeIndex">
        <div class="homeSlider"  id="">

            <div class="slidermask" style="width: 100%; overflow:hidden; ">
                <div class="slider" >
                    <div class="oneslide" id="firstslide">
                        <div class="slideimg" id="firstslideimg">
                            <img src="~/images/modulargpu.png" style="" />
                       </div>
                       <div id="firstslidelogo">
                           <img src="~/images/rtxpng.png" />
                       </div>
                        <div class="webtitle" id="sigmaname">
                            sigma.Hash
                            <p class="subtitle">
                                Hardware solutions
                            </p>
                        </div>
                    </div>
         
                    <div class="oneslide" id="secondslide" >
                        <div class="slideimg" id="secondslideimg">
                            <img id="slideimgImg" src="~/images/pico png.png"  />
                        </div>
         
                        <div id="secondslidelogo" style="filter: invert(100%); ">
                            <img  src="~/images/Pico-Logo-Black2-1024x265.png" width=""/>
                        </div>
                        <div id="secondslidebutton" >
                            <buton class="secondbutton">Check in store </buton>
                        </div>   
                        <div>
                            
                        </div>
         
                    </div>
         
                    <div class="oneslide" id="thirdslide" >
                        <div class="slideimg" id="thirdslideimg">
                             <img src="~/images/aoruslogo.png" />
                        </div>
                        <div class="slidetxt" id="thirdslidetxt" >
                             
                        </div>
                        <div >
                             <button class="secondbutton" >Check in Store</button>
                        </div>
                    </div>
         
         
                    <div class="oneslide" id="fourthslide" >
                        <div class="slideimg">
                            <img src="~/images/mousepadgamelog.png" style="width: 120%; margin-left: 200px;" />
                        </div>
                        <div class="slidetxt" >
                   
                        </div>
                        <div style="height: 30vh;">
                                <button class="secondbutton" >Check in Store</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    
    
    </div>



    <div class="homedownbtndiv">
        <div class="homedownbutton">
             <button><i class="bi bi-chevron-double-down"></i>  </button>
        </div>
    </div>

    <div class="arrowcontainer">
        <div class="arrow" id="arrows"><i id="arrowone" class="bi bi-chevron-left"></i></div>
        <div class="arrow2" id="arrows"><i id="arrowtwo" class="bi bi-chevron-right"></i></div>
    </div>
    
    <div class="secsection" id="secsection">
        
        <div id="secAds" >

            <div class="secAd">

                    <div class="secAdText">

                    </div>

                    <div class="secAdBot">

                        <div class="secAdBotText" >BUILD YOUR PC NOW</div>
                        <button  class="secAdButton"  style="margin-bottom: 3%;" >SHOP</button>

                    </div>
            </div>

            <div class="secAd">



                <div class="secAdText">

                </div>

                <div class="secAdBot">
                    
                        <div class="secAdBotText" >GAMING MONITORS</div>
                        <button class="secAdButton" style="margin-bottom: 3%;" >MONITORS</button>
                </div>

            </div>

            <div class="secAd">


                <div class="secAdText">

                </div>

                <div class="secAdBot">
                    
                        <div class="secAdBotText" style="color: white;" > DIVE INTO VIRTUAL REALITY</div>
                        <button  class="secAdButton"  style="margin-bottom: 3%;" >VR HEADSETS </button>
                </div>

            </div>

        </div>
        


    
    </div>


</div>
@section Scripts{
    <script src="~/js/Index.js" asp-append-version="true"></script>


}