
@{
	Layout = null;
}
<div class="listicons">
	@using (Html.BeginForm("Editor","MOT",FormMethod.Post, new { @class="d-flex flex-grow-1 px-5"}))
	{
		<button type="submit" name="id" value="mb"><div class="icon" ><img src="~/images/ListEditorIcons/mb.png" /></div></button>
		<button type="submit" name="id" value="cpu"><div class="icon" ><img src="~/images/ListEditorIcons/cpu.png" /></div></button>
		<button type="submit" name="id" value="gpu"><div class="icon" ><img src="~/images/ListEditorIcons/gpu2.png" /></div>			</button>
		<button type="submit" name="id" value="ram"><div class="icon" > <img src="~/images/ListEditorIcons/ram2.png" /></div>		</button>
		<button type="submit" name="id" value="cpu"><div class="icon" > <img src="~/images/ListEditorIcons/ssd.png" /></div>			</button>
		<button type="submit" name="id" value="cpu"><div class="icon" > <img src="~/images/ListEditorIcons/keyboard.png" /></div>	</button>
		<button type="submit" name="id" value="cpu"><div class="icon" > <img src="~/images/ListEditorIcons/mouse.png" /></div>		</button>
		<button type="submit" name="id" value="cpu"><div class="icon" ><img src="~/images/ListEditorIcons/psu.png" /></div>			</button>
		<button type="submit" name="id" value="cpu"><div class="icon" ><img src="~/images/ListEditorIcons/monitor.png" /></div>		</button>
		<button type="submit" name="id" value="cpu"><div class="icon" ><img src="~/images/ListEditorIcons/case.png" /></div>			</button>
		<button type="submit" name="id" value="cpu"><div class="icon" ><img src="~/images/ListEditorIcons/chair.png" /></div>		</button>
	}
</div>